* { /*Restart styles*/
    margin:0;
    padding:0;
}

body{
    background: #252b31;
}

/*HEADER*/
.title h1{
    padding: 40px 0 20px 0;
    text-align:center;
    font-size: 3 em;
    color: #000000;
}

#Date{
    text-align:right;
    margin: 0 3%;
    color: #000000;
}

/*Container*/
.container{
    background: #f6fafb;
    margin:3%;
}

/*Block 1 Index & Warning */
.block1{
    /* background: #955f31; */
    display:grid;
    grid-template-columns: 1fr 1fr;
}


.block1 h2{
    text-align:center;
    margin:10px 0 15px;
}


/* left block with description */
.titleSeccion{
    grid-column:1/2;
    text-align:center;
    background: #f8bd3d;
    padding: 15px;
    columns: #000000;;
}

#d_left{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    
}

#cer_box1{
    display:grid;
    grid-template-columns:repeat(3,1fr);
}


/* Rigth block with image */
.d_right{
    display:grid;
    grid-template-columns:1fr 1fr;

}

#cer_box2{
    display:grid;
    grid-template-columns:repeat(3, 1fr);
}

.footer{
    background: #f8bd3d;
}



/*Styles of first block*/
#in-index{
    list-style: circle inside;
    padding: 15px;
}

#text-notice{
    padding: 15px;
}

/*Para box1*/
#box1{
    padding: 20px 35px 10px 35px;
}

/*To box2 image*/
.box2{
    margin:auto;
    padding: 40px 40px 40px 40px;
}


#Subtitle{
    text-align:center;
}

#Stdate{
    text-align:Right;
}

#text-Vision{
    padding: 25px;
}

#figs{
    margin:auto;
}

/* div:hover{ /*Verify if the grid works
    border:1px solid #f1c40f;
} */


